<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row"><h2>Patients List</h2></div>
	<div class="row">
		<a href="/patients/addform" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>LastName</th>
					<th>FirstName</th>
					<th>DateOfBirth</th>
					<th>Sex</th>
					<th>HomeAddress</th>
					<th>PhoneNumber</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="patient : ${patients}">
				<td th:text="${patient.lastName}"></td>
				<td th:text="${patient.firstName}"></td>
				<td th:text="${patient.dateOfBirth}"></td>
				<td th:text="${patient.sex}"></td>
				<td th:text="${patient.homeAddress}"></td>
				<td th:text="${patient.phoneNumber}"></td>
				<td style="width: 15%" class="text-center">
					<a th:href="@{/patients/updateform/{id}(id=${patient.id})}">Edit</a>&nbsp;|
					<!--
					<a th:href="@{/patients/notes/{id}(id=${patient.id})}">Notes</a>
					-->
					<a th:href="@{/notes/{lastName}/{firstName}(lastName=${patient.lastName},firstName=${patient.firstName})}">Notes</a>&nbsp;|

					<a th:href="@{/patients/rapport/{id}(id=${patient.id})}">Report</a>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>