<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row"><h2>Patient Diabetes Assessment Risk Report </h2></div>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>LastName</th>
					<th>FirstName</th>
					<th>Sex</th>
					<th>Age</th>
					<th>Assessment</th>
				</tr>
			</thead>
			<tbody>
				<td th:text="${rapport.lastName}"></td>
				<td th:text="${rapport.firstName}"></td>
				<td th:text="${rapport.sex}"></td>
				<td th:text="${rapport.age}"></td>
				<td th:text="${rapport.assessment}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>